/* square-peg-regular - latin */
@font-face {
    font-family: 'Square Peg';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/square-peg-v1-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/square-peg-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/square-peg-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/square-peg-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/square-peg-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/square-peg-v1-latin-regular.svg#SquarePeg') format('svg'); /* Legacy iOS */
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
html {
    overflow: hidden;
}
body {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 50px;
    background-color: #000;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
}

.header__container {
    max-width: 1200px;
    padding: 20px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.data-selector__select {
    width: 140px;
    font-size: 18px;
    height: 30px;
    border: 0;
}
.data-selector__select option {
    border: 0;
}

.film-container {
    position: relative;
    width: 1200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 30px;
    
}

.film-box {
    height: 200px;
    width: 80px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(40px, -100px);
    z-index: 1;
    float: right;
}

.film-box_img {
    height: 200px;
}

.film-box__text {
    position: absolute;
    z-index: 3;
}

.film-box_inactive {
    animation-timing-function: ease-in-out;
    animation: moveRight 500ms;
}

.film-box_active {
    left: auto;
    right: 10%;
    animation-timing-function: ease-in-out;
    animation: moveLeft 500ms;
    float: right;
}

.film-tape-bg::before {
    position: absolute;
    left: -100px;
    background-size: 120px 158px;
    content: '';
    height: 158px;
    width: 100px;
    background-image: url('../img/film-tape-end.png');
    background-repeat: no-repeat;
}

.film-tape {
    position: absolute;
    top: 50%;
    right: 50%;
    height: 158px;
    width: 0px;
    transform: translateY(-74px);
    z-index: 0;
}
.film-tape-bg {
    position: relative;
    background-image: url('../img/film-tape-bg.png');
    background-size: 20px 158px;
    background-repeat: repeat-x;
    background-position: left;
    width: 100%;
    height: 100%;   
    opacity: 0.8;

}
.film-tape-bg__shots {
    display: flex;
    width: 100%;
    height: 100%;   
    opacity: 0.8;
    overflow: hidden;

}
.film-shot {
    height: 94px;
    opacity: 0.5;
    align-self: center;
    margin-right: 10px;
}

.film-shot:hover {
    transform: scale(95%);
    opacity: 1;
}

.film-tape_active {
    width: 80%;
    right: 10%;
    animation-timing-function: ease-in-out;
    animation: filmOpen 500ms;
}

.film-tape_inactive {
    animation-timing-function: ease-in-out;
    animation: filmClose 500ms;
}

.open-button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border-color: #00000050;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    opacity: 0.3;
    animation: showButton 300ms ease-in-out;
}
.button-container {
    width: 1200px;
    border-radius: 20px;
    display: flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
}
.button-hidden {
    opacity: 0;
    animation: hideButton 300ms ease-in-out;
}

.button-container__scroll {
    height: 40px;
    width: 40px;
    margin: 0 20px;
    border-radius: 20px;
    border: 1px solid #000;
    opacity: 0.3;
    animation: showButton 300ms ease-in-out;
}

.button-container__scroll_disabled {
    opacity: 0;
    display: none;
    animation: hideButton 300ms ease-in-out;
}

footer {
    height: 80px;
    background-color: #000;
}

@keyframes moveLeft {
    from {
        right: 50%;
      }
      to {
        right: 10%;
      }
}
@keyframes moveRight {
    from {
        right: 10%;
      }
      to {
        right: 50%;
      }
}
@keyframes filmOpen {
    from {
        width: 0;
        right: 50%;
      }
      to {
        
        right: 10%;
        width: 80%;
      }
}
@keyframes filmClose {
    from {
        width: 80%;
        right: 10%;
      }
      to {
        width: 0;
        right: 50%;
      }
}

@keyframes showButton {
    from {
        opacity: 0;
      }
      to {
        opacity: 0.3;
      }
}

@keyframes hideButton {
    from {
        opacity: 0.3;
      }
      to {
        opacity: 0;
      }
}


.window-blocker {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000000a0;
    z-index: 5;
}
.photo {
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}